.footer {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #eee;
  text-align: center;
}

.footer p {
  margin: 0;
}

.footer-link {
  color: #999;
  font-size: 0.9em;
  display: block;
  margin-bottom: 0.5em;
  text-decoration: none;
}

.footer-link:hover {
  color: #666;
  text-decoration: underline;
}

.footer-link:last-child {
  margin-bottom: 0;
}